{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    {% block page_styles %}<link rel="stylesheet" href="{% static 'base/css/main.css' %}">{% endblock %}
    <title>{% block title %}SANDBLOX MARKETPLACE{% endblock %}</title>
</head>

<body>
    {% include "base/navigation.html" %}
    {% block content %} {% endblock %}
    {% include "base/footer.html" %}
</body>
