<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper black valign-wrapper">
            <a href="#!" class="brand-logo">
                <img src="/static/base/img/Qub3d.png" alt="" height="100px">
            </a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down" style="margin-right: 5%; margin-left: auto;">
                <li class="hover">
                    <a href="/">MARKETPLACE</a>
                </li>
                <li class="hover">
                    <a href="/mods">MODS</a>
                </li>
                <li class="hover">
                    <a href="/textures">TEXTURES</a>
                </li>
                <li class="hover">
                    <a href="/games">GAMES</a>
                </li>
                <li class="hover">
                    <a class="modal-trigger" href="#login-signup">LOG IN | SIGN UP</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<ul class="sidenav center-align black" id="mobile-nav">
    <a href="#!" class="brand-logo mobile-nav-data">
        <img src="/static/base/img/Qub3d.png" alt="" height="100px">
    </a>
    <li class="mobile-nav-data">
        <a href="#">MARKETPLACE</a>
    </li>
    <li class="mobile-nav-data">
        <a href="#">MODS</a>
    </li>
    <li class="mobile-nav-data">
        <a href="#">TEXTURES</a>
    </li>
    <li class="mobile-nav-data">
        <a href="#">GAMES</a>
    </li>
    <li class="mobile-nav-data">
        <a class="modal-trigger" href="#login-signup">LOGIN | SIGNUP</a>
    </li>
</ul>
<div id="login-signup" class="modal grey darken-4">
    <center>
        <div class="container">
            <div class="grey darken-4 row" style="display: inline-block; padding: 32px 48px 0px 48px;">
                <form class="col s12">
                    <div class='row'>
                        <div class='col s12'>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='text' name='username' id='username' />
                            <label for='username'>Enter your username</label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate qubian' type='password' name='password' id='password' />
                            <label for='password'>Enter your password</label>
                        </div>
                        <label style='float: right;'>
                            <a class='white-text qubian' href='#!'>
                                <h5>Forgot Password?</h5>
                            </a>
                        </label>
                    </div>
                    <br />
                    <center>
                        <div class='row'>
                            <button type='submit' name='btn_login' class='col s12 btn-large indigo qubian-button'>Login</button>
                        </div>
                    </center>
                </form>
            </div>
        </div>
        <h5>
            <a class="qubian" href="">CREATE ACCOUNT</a>
        </h5>
    </center>
</div>